
{% if oferta %}
  <div class="container">
    <div class="row">
      <h2>{{ oferta.titulo }}</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <strong>Localidad:</strong>
            <a href="{{'empleo/localidad'|page({slug: oferta.localidad.slug})}}">
              {{ oferta.localidad.localidad }}
            </a>
          </p>
          {% if oferta.ofertable_type != null %}
              <p>
                <strong>Empresa:</strong>
                <a href="{{ 'empleo/empresa'|page({ id: oferta.id }) }}">
                  {{ oferta.ofertable.nombre }}
                </a>
              </p>
            {% endif %}
          <p>
            <strong>Publicado en:</strong> 
            {% for categoria in oferta.categorias %} 
              {% if loop.last %}
                <a href="{{'empleo/categoria'|page({slug: categoria.slug})}}">{{ categoria.nombre }}</a>
              {% else %}
                <br>
                <a href="{{'empleo/categoria'|page({slug: categoria.slug})}}">{{ categoria.nombre }}</a>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <hr>
      <h4>Funciones</h4>
      <div class="col-md-12">
        {{ oferta.descripcion|raw }}
         <hr>
      </div>
    
      <div class="col-md-12">
        {% if oferta.requisitos %}
        <hr>
        <h4>Requisitos</h4>
        <div class="col-md-12 well">
          <ul>
            {% for requisito in oferta.requisitos %}
              <li>{{ requisito.r_titulo }}<br>{{ requisito.r_descripcion}}</li>
            {% endfor %}

          </ul>
        </div>
      {% endif %}
      </div>
      
      <p class="text-center">
        <a href="{{ 'empleo/empleos'|page }}" class="btn btn-default">{{"Volver a la lista"}}</a>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#form-apply">
          {{"Quiero aplicar"}}
        </a>
      </p>
      <div class="col-md-4 col-md-offset-4 hidden" id="success-message">
        <div class="alert alert-success text-center" role="alert">
          <p><strong>¡Bien Hecho!</strong> gracias por aplicar</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <!-- Modal --> 
  <div class="modal fade bs-example-modal-lg" id="form-apply" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Postulaciones</h4>
        </div>
        <form data-request="onEnviarPostulacion" data-request-flash data-request-files data-request-success="$('#form-apply').modal('toggle'); $('#success-message').removeClass('hidden');">
          <div class="modal-body">

            <div class="form-group col-md-6 col-sm-6">
              <label>Nombre</label>
              <input name="nombre" type="text" class="form-control" placeholder="Ej: John Doe">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <label>Email</label>
              <input name="email" type="text" class="form-control" placeholder="Ej: jdoe@mail.com">
            </div>
            
            <h4 class="pull-left">Contacto</h4>
            <div class="clearfix"></div>
            <div id="dynamic_field"> 
                <!-- Aqui se muestra el formulario dinamico -->

            </div>
            <button type="button" id="add" class="btn btn-primary btn-add center-block" style="margin-bottom: 10px;">
                Agregar contacto
            </button>
            <div class="form-group col-md-6">
              <label>C.V.</label>
              <input type="file" name="documento">
              <p class="help-block">Sube tu curriculum, aceptamos sólo archivos .pdf</p>
            </div>
            <div class="form-group col-md-6">
              <label>Cuentanos de ti, ¡véndete!</label>
              <textarea class="form-control" rows="3" name="mensaje"></textarea>
              <input type="hidden" value="{{oferta.id}}" name="oferta_id">
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Enviar">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
    <div class="col-md-12">
      <h2 class="text-center">{{"Sin registros para mostrar"}}</h2>
    </div>
{% endif %}