<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#condicionesModal">Términos y Condiciones</a>

<!-- Modal -->
<div class="modal fade" id="condicionesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Políticas y Condiciones</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li><strong>NO SHOW:</strong> Esta tarifa web es prepagada y no reembolsable, sin embargo, puede modificar las fechas de su estancia bajo petición y sujeto a disponibilidad.</li>
          <li><strong>Reservas pagadas con TDC:</strong> El tarjeta-habiente deberá estar presente al momento del check-in.</li>
          <li><strong>Horarios:</strong> Check-in desde las 3pm, check-out antes de las 12pm.</li>
          <li><strong>Garantía:</strong> A su llegada se le solicitará una TDC mediante pre-autorización para posibles gastos incidentales. En los hoteles de playa se pedirá un depósito como garantía para cubrir el servicio de toallas.</li>
          <li><strong>Fumadores:</strong> No se permite fumar en las habitaciones, en caso de incumplimiento de penalizará con una multa.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>