<div class="col-md-12">
  
  {% if habitacion.hotel_id != 4 %}
    <a class=""  data-toggle="collapse" href="#collapseInfo" aria-expanded="false" aria-controls="collapseExample">
      ¿Traes a tus niños? 
    </a>
  {% endif %}

  {% if habitacion.hotel_id != 4 %}
  <div class="row">
    <div class="collapse" id="collapseInfo">
      <div class="col-md-12">
        <div class="well well-sm">
          <ul>
            <li>Infantes menores de 0 a 3 años son gratis</li>
            <li>Niños de 4 a 10 años pagan 50%, mayores de 11 años cuentan como adultos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <h4 class="text-center">{{habitacion.nombre|upper}}</h4>
  {% if descuentos  %} {# si hay descuentos #}
    <div class="alert alert-info" role="alert">
      <strong>Descuentos Aplicados</strong>
      {% for descuento in descuentos %}
      <p>
      <i class="fa fa-check-circle"></i>
        {{descuento.concepto}}
      </p>
      {% endfor %}
    </div>
      
  {% endif %} {# fin si hay descuentos #}
  <hr>

</div>

<div class="row">
  <div class="col-md-6 col-xs-12 pull-right hidden-xs">
    <img src="{{habitacion.foto_portada.path}}" class="img-responsive">
    <br>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="form-group col-md-6">
      <label  class="control-label">Ocupación</label>
      <select id="ocupacion_selector"
         name="ocupacion" data-hab="{{habitacion.id}}"
        class="form-control selector_modal_hab">
        {% for ocupacion in habitacion.ocupaciones %}
            <option value ="{{ocupacion.codigo}}">{{ocupacion.descripcion}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="regimen" class="control-label">Elije Plan</label>
      <select id="regimen_selector"
       name="regimen_id" data-hab="{{habitacion.id}}"
       class="form-control selector_modal_hab">
        {% for regimen in habitacion.regimenes %}
            <option value ="{{regimen.codigo}}">{{regimen.descripcion}}</option>
        {% endfor %}
      </select>
    </div>
    {% for regimen in habitacion.regimenes %}
    <div class="col-md-12 {{loop.index != 1 ? 'hidden'}} descripcion-planes" id="descripcion-{{regimen.codigo}}">
      <span id="helpBlock" class="help-block ">
        <strong>Este plan incluye:</strong> <br>
        {{regimen.detalle}}
      </span>
    </div>
    {% endfor %}
    <div class="col-md-12">
      <div class="">
        {% set precios_noches_gratis = habitacion.getPrecioNochesGratis(descuentos) %}

       {# {{dump(precios_noches_gratis)}} #}
        {% for key, precio in precios %} {# FOR PRECIOS #}

          {% if loop.index == 1 %}
            {% set clase = " " %}
            {% set disabled = " " %}

            {% set acronimo = precio.acronimo %}

          {% else %}
            {% set clase = "hidden" %}
            {% set disabled = "disabled" %}
          {% endif %}

          {% set precioFull = habitacion.getPrecioConImpuestos(precio.total, impuestos) %}


          {% if precioFull > 0 %} {# SI EL PRECIO EXISTE PARA TODAS LAS FECHAS #}
          <div class="{{clase}} precios-hab" id="container-precio-{{precio.ocupacion}}-{{precio.regimen_id}}">

            {% if descuentos  %} {# si hay descuentos #}
              {% set precioAntes = precioFull %}
              
              {% if precios_noches_gratis %}
              
              {% set precioPorcentaje = habitacion.getPrecioConDescuentos (precioAntes, descuentos) %}
             
              {% set precioFull = precios_noches_gratis[key].total - (precioAntes - precioPorcentaje) %}
              
              {% else %}
              
              {% set precioFull = habitacion.getPrecioConDescuentos (precioAntes, descuentos) %}
              
              {% endif %}
              

              
              <p class="text-right form-control-static">
                <strong>Antes: </strong><del>{{__SELF__.cambiarFormatoPrecio(precioAntes, propiedades.moneda)}} {{precio.acronimo}}</del>
              </p>
            {% endif %} {# FIN SI HAY DESCUENTOS #}
            <div class="well well-sm">
              <p class="text-center form-control-static"><strong>Total Alojamiento: </strong>{{__SELF__.cambiarFormatoPrecio(precioFull, propiedades.moneda)}} {{precio.acronimo}}</p>
              <input type="hidden" id="preciototal-{{precio.ocupacion}}-{{precio.regimen_id}}"
                class="precio-input" name="precio" value="{{precioFull}}" {{disabled}}>
             </div>
          </div>
          {% else %} {# FIN SI EL PRECIO EXISTE PARA TODAS LAS FECHAS #}
          <div class="precios-hab hidden" id="no-price">
            <div class="row">
              <h4 class="text-center">Sin precio disponible</h4>
              <input type="hidden" id="preciototal-{{precio.ocupacion}}-{{precio.regimen_id}}"
                class="precio-input" name="precio" value="0" {{disabled}}>
            </div>
          </div>
          {% endif %}
        {% endfor %} {# END FOR PRECIOS #}
        {% if precios == null %}
        <div class="precios-hab" id="no-price">
          <div class="row">
            <h4 class="text-center">Sin precio disponible</h4>
            <input type="hidden" id="preciototal-{{precio.ocupacion}}-{{precio.regimen_id}}"
              class="precio-input" name="precio" value="0" {{disabled}}>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>
