{# 

{% if seleccion != null %}
<a href="#resumen-reserva-content" id="go-bottom" class="go-bottom">Mi<br>Reserva</a>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" id="resumen-reserva-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Tu selección <i class="fa fa-calendar-check-o" aria-hidden="true"></i></h3>
      </div>
      <form  id="form-seleccion">

        <div class="panel-body">
            {% set total = 0 %}

            {% set acr = "" %}

            {% for hab in seleccion %}
            {% set acr =  hab.codigo_moneda %}
            <div class="col-md-12 col-xs-12">
              <p>
                <strong>{{hab.hab_nombre}}
                <button type="button" data-index="{{loop.index0}}" class="close delete-hab-selected" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </strong>
              </p>
              <p><small>{{hab.ocup_desc}} | {{hab.reg_desc}}
                <span class="pull-right">
                  {{__SELF__.cambiarFormatoPrecio(hab.alojamiento, propiedades.moneda)}} {{hab.codigo_moneda}}<br>
                </span>
                </small>
                {% if hab.upsellings %}
                  {% for ups in hab.upsellings %}
                  <br>
                    <em><small> + {{ups.titulo}}</small></em>
                    <small>
                      <span class="pull-right">
                        {{__SELF__.cambiarFormatoPrecio(ups.precio, propiedades.moneda)}}  {{hab.codigo_moneda}}
                      </span>
                    </small>

                  {% endfor %}

                {% endif %}
              </p>
              <hr>
            </div>
              {% set total = total + hab.precio %}

            {% endfor %}
        </div>
        <div class="panel-footer">
          <p class="text-center">
            <strong>Total:</strong> {{__SELF__.cambiarFormatoPrecio(total, propiedades.moneda)}} {{acr}}
            <button type="submit" id="pagar-btn" class="btn btn-primary">Pagar</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
#}
