<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
        <div class="modal-body">

          <form class="form-elements" role="form">

            <div class="form-group span-left">
                <label>% de descuento</label>
                <input type="text" name="porcentaje" class="form-control" />
            </div>

            <div class="form-group span-right">
                <label>Concepto</label>
                <input type="text" name=""  class="form-control" />
            </div>
            <!-- Checkbox -->
            <div class="form-group checkbox-field span-full is-required">
              <div class="checkbox custom-checkbox">
                <input name="checkbox"
                 type="checkbox" id="checkbox_1"
                 data-request="onAplicarDescuento">
                <label for="checkbox_1">Enable Googie Berry Power-up</label>
                <p class="help-block">Use this checkbox to enable the Googie Berry power-up specifically for this page. You can configure the Googie Berry power-up on the System Settings and Dashboard page.</p>
                </div>
            </div>
            <div id="contentPreciosModal">

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Red Pill</button>
        </div>
