<?php dump($modelo) ?>

<div>
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>Habitacion deluxe</p>
      <small>1 Adultos - 0 Niños | Alojamiento y Desayuno</small>
      <small><strong>precio:</strong> 444.000 Bs.</small>
    <p><small><em>20% por lo que sea</em></small></p>
</div>