<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('hesperiaplugins/hoteles/reservacion') ?>">Reservacion</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
  <?= Form::open() ?>
  <div class="scoreboard">
      <div data-control="toolbar">
          <?= $this->makePartial('preview_scoreboard') ?>
      </div>
  </div>

  <div class="form-buttons">
        <div class="loading-indicator-container">
            <?= $this->makePartial('preview_toolbar') ?>
        </div>
    </div>
  <!--INICIO -->
   <div class="control-tabs master-tabs" data-control="tab">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#primaryTabOne">General</a></li>
      <li><a href="#primaryTabTwo">Habitaciones</a></li>
      <li><a href="#primaryTabThree">Pagos</a></li>
      <li><a href="#primaryTabFour">Observaciones</a></li>
      <li><a href="#primaryTabFive">Upgrades/Upsellings</a></li>
      
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <?= $this->formRenderPreview() ?>
      </div>
      <div class="tab-pane">
         <?= $this->relationRender("detalles") ?>
      </div>

      <div class="tab-pane">
        <?= $this->relationRender("pagos") ?>
      </div>
      <div class="tab-pane">
        <?= $this->relationRender("observaciones") ?>
      </div>

      <div class="tab-pane">
        <?= $this->relationRender("upgrades") ?>
      </div>
      <div class="tab-pane">
        <?= $this->makePartial('enlaces') ?>
      </div>

      
    </div>

  </div>
  <!-- FIN -->
  <?= Form::close() ?>
<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>
<p>
    <a href="<?= Backend::url('hesperiaplugins/hoteles/reservacion') ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
</p>
