<div data-control="toolbar">
        <a href="<?= Backend::url('hesperiaplugins/hoteles/upselling/create'); ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')); ?></a>
        <?php if($this->user->is_superuser){ ?>
            <button
                class="btn btn-default oc-icon-trash-o"
                disabled="disabled"
                onclick="$(this).data('request-data', {
                    checked: $('.control-list').listWidget('getChecked')
                })"
                data-request="onDelete"
                data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')); ?>"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-request-success="$(this).prop('disabled', true)"
                data-stripe-load-indicator>
                <?= e(trans('backend::lang.list.delete_selected')); ?>
            </button>
        <?php } ?>
    <a class="btn btn-success oc-icon-list" href=" <?= Backend::url('hesperiaplugins/hoteles/upselling/reporte_upsellings'); ?>">
        Reporte de Upsellings
    </a>
</div>
