
<div class="layout-row">
  <div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <a data-toggle="modal" href="#content-form-tarifas"
             class="btn btn-default oc-icon-hdd-o">
              Cargar/Modificar Tarifa
            </a>

            <?php if($formModel->tipo_inventario == 1 || $formModel->tipo_inventario == 0): ?>

            <a data-toggle="modal" href="#content-form-disponibilidad"
            class="btn btn-default oc-icon-calendar-plus-o">
              Modificar Disponibilidad
            </a>
            <?php endif ?>
            <?php if (isset($formModel->calendario[0])){ ?>
              <?php $calendario_id = $formModel->calendario[0]->id ?>
              <a class="btn btn-default oc-icon-calendar"
               href='<?= Backend::url("hesperiaplugins/hoteles/fechacalendario/index/$calendario_id/$formModel->id") ?>'>
                  Calendario
              </a>
            <?php } ?>
        </div>
    </div>
  </div>
</div>
<div class="control-popup modal fade" id="content-form-tarifas" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <?= Form::open() ?>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cargar/Modificar Precios</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <?= $modal_form->renderField("fecha_desde"); ?>
                  <?= $modal_form->renderField("fecha_hasta"); ?>
                </div>
                <div class="row">
                  <?= $modal_form->renderField("precio"); ?>
                  <?= $modal_form->renderField("moneda"); ?>
                </div>
                  <?php if($formModel->tipo_inventario == 1 || $formModel->tipo_inventario == 0): ?>
                    <div class="row">
                      <?= $modal_form->renderField("disponible"); ?>
                    </div>
                  <?php endif ?>
            </div>
            <div class="modal-footer">
              <div class="loading-indicator-container">
                  <button
                      type="submit"
                      data-request="onCargarTarifa"
                      data-request-data="close:1"
                      data-hotkey="ctrl+s, cmd+s"
                      data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                      class="btn btn-primary">
                      Cargar/Modificar
                  </button>
              </div>
            </div>
        </div>
        <?= Form::close() ?>
    </div>
</div>

<div class="control-popup modal fade" id="content-form-disponibilidad" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <?= Form::open() ?>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modificar Disponibilidad</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <?= $disponibilidad_form->render(); ?>
                </div>
            </div>
            <div class="modal-footer">
              <div class="loading-indicator-container">
                  <button
                      type="submit"
                      data-request="onModificarDisponibilidad"
                      data-request-data="close:1"
                      data-hotkey="ctrl+s, cmd+s"
                      data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                      class="btn btn-primary">
                      Modificar
                  </button>
              </div>
            </div>
        </div>
        <?= Form::close() ?>
    </div>
</div>
