{% set ango = __SELF__.year %}
{% set meses = __SELF__.months %}
<form class="form text-center col-md-12" id="pagar"
data-request-validate data-request-flash>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<label for="NameCard">Tarjeta habiente</label>
			<input type="text" class="form-control" name="nombre_tarjeta" id="nombre_tarjeta" required />
		</div>
		<div class="col-xs-6 col-md-6">
			<label for="identificacion">Cédula | RIF | ID</label>
			<input type="number" class="form-control" name="identificacion" id="identificacion"
				minlength="6" maxlength="8"  required />
		</div>
		<div class="col-xs-6 col-md-6">
			<label for="numero_tarjeta">Número de Tarjeta</label>
			<input type="text"  name="numero_tarjeta" class="form-control" id="numero_tarjeta" required
			minlength="15" maxlength="16"  />
		</div>
		<div class="col-xs-6 col-md-6">
			<label for="cvc">CVC - <a href="#">¿Qué es?</a></label>
			<input type="password" class="form-control" name="cvc" id="cvc" maxlength="3" required />
		</div>
		<div class="col-xs-6 col-md-6">
			<label for="anio_expira">Fecha Expiracion</label>
			<div class="form-group">
				<div class="col-xs-6 col-md-6">
					<select class="form-control" name="mes_expira" class="form-control"  id="mes_expira">
						{% for key, mes in meses %}
						<option value="{{mes}}">{{key}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xs-6 col-md-6">
					<select class="form-control" name="anio_expira" class="form-control"  id="anio_expira">
						{% for i in 0..10 %}
						<option value="{{ango+i}}">{{ango+i}}</option>
						{% endfor %}
					</select>

				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<label for="">Proceder</label>
			<p class="text-center">
				<button type="submit" class="btn btn-primary" data-attach-loading>
					Pagar
				</button>
			</p>
			<input type="hidden" name="afl" value="{{afiliado}}">
			<input type="hidden" name="mt" value="{{monto}}">
		</div>
	</div>
</form>
