<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href='<?= Backend::url("hesperiaplugins/hoteles/upselling/update/$this->upselling") ?>'>Upselling</a></li>
        <li>Calendario</li>
    </ul>
<?php Block::endPut() ?>

<?= $this->listRender() ?>
