<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#condicionesModal">Términos y Condiciones</a>

<!-- Modal -->
<div class="modal fade" id="condicionesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Políticas y Condiciones</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li><strong>NO SHOW EN SERVICIOS:</strong> Esta tarifa web es prepagada y no reembolsable, sin embargo, puede modificar la fecha de disfrute bajo petición y sujeto a disponibilidad.</li>
          <li><strong>Compras pagadas con TDC:</strong> El tarjeta-habiente deberá estar presente al momento de retirar el producto o recibir el servicio.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
