<?php Block::put('breadcrumb'); ?>
    <ul>
        <li><a href="<?= Backend::url('hesperiaplugins/hoteles/paquete'); ?>">Paquete</a></li>
        <li><?= e($this->pageTitle); ?></li>
    </ul>
<?php Block::endPut(); ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']); ?>

        <div class="layout-row">
            <?= $this->formRender(); ?>
        </div>
        <div class="layout-row">
            <div class="control-tabs primary-tabs" data-control="tab">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#primaryTabOne">Habitaciones</a></li>
                    <li><a href="#primaryTabTwo">upsellings</a></li>
                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <?= $this->relationRender("habitaciones") ?>
                    </div>
                    <div class="tab-pane">
                        <?= $this->relationRender("upsellings") ?>
                    </div>
                </div>
            </div>

        </div>
            
        

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')); ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')); ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')); ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')); ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?= e(trans('backend::lang.form.deleting')); ?>"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')); ?>">
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')); ?> <a href="<?= Backend::url('hesperiaplugins/hoteles/paquete'); ?>"><?= e(trans('backend::lang.form.cancel')); ?></a>
                </span>
            </div>
        </div>
    <?= Form::close(); ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)); ?></p>
    <p><a href="<?= Backend::url('hesperiaplugins/hoteles/paquete'); ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')); ?></a></p>
<?php endif ?>