
    
<form id="payment-form" data-request-validate data-request-flash>
  <div class="form-row">
    <div class="form-group col-md-12 col-lg-6">
      <input type="text" name="tarjetahabiente" id="tarjetahabiente" class="form-control" placeholder="Nombre y Apellido"> 
    </div>
    
    <div class="form-group col-md-12 col-lg-6">
        <div id="card-element" style="border: 1px solid #ccc;
        border-radius: 4px; padding:4px 4px;"> 
         <!-- a Stripe Element will be inserted here. -->
        </div>
    </div>
    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>
  <input type="hidden" name="mt" id="mt" value="{{monto}}">
  <input type="hidden" name="dsc" id="dsc" value="{{form.property('description')}}">
  <input type="hidden" name="type" id="tp" value="{{form.property('type')}}">
  <input type="hidden" name="ref" id="ref" value="{{form.property('ref')}}">
      
  <br>
  <p class="text-center">
    
    <button class="btn btn-primary" id="pay-btn">¡Pagar!</button>
  </p>
  
  <!--<p class="text-center">
      <a href="https://stripe.com/" target="_blank"><img class="image-responsive" src="{{ 'powered_by_stripe.png'|media }}"></a>
  </p>-->

</form>
<script src='https://js.stripe.com/v3/'></script>
