<div data-control="toolbar">
    <a href="<?= Backend::url('hesperiaplugins/hoteles/fechas') ?>" class="btn btn-primary oc-icon-caret-left"><?= e(trans('backend::lang.form.return_to_list')) ?></a>
</div>
