<!--<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4>Habitacion</h4>
            <p>xyz</p>
        </div>

        <div class="scoreboard-item title-value">
            <h4>Hotel</h4>
            <p>44</p>
        </div>
    </div>
</div>-->

<?= $this->listRender("habitaciones") ?>
