<?php 
    $stats = $this->getStats();
 ?>
<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753">Confirmadas<span><?= $stats["confirmadas"] ?></span></li>
                <li data-color="#e5a91a">Enviadas<span><?= $stats["total"] ?></span></li>
            </ul>
        </div>
    </div>
</div>

<div data-control="toolbar">
        <?php if($this->user->is_superuser){ ?>
            <button
                class="btn btn-default oc-icon-trash-o"
                disabled="disabled"
                onclick="$(this).data('request-data', {
                    checked: $('.control-list').listWidget('getChecked')
                })"
                data-request="onDelete"
                data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-request-success="$(this).prop('disabled', true)"
                data-stripe-load-indicator>
                <?= e(trans('backend::lang.list.delete_selected')) ?>
            </button>
        <?php } ?>
        <a class="btn btn-success oc-icon-list" href=" <?= Backend::url('hesperiaplugins/hoteles/cotizacion/revenue_agentes') ?>">
            Lista de agentes
        </a>   
</div>
